
.app-title{
    text-align: center;
    margin-top: 20px;
    font-size: 50px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.todolist-container{
    height: 600px;
    width: 600px;
    background-color: rgb(255, 253, 253);
    margin: 5px auto;
    border-radius: 20px;
    padding: 8px;
    overflow-y: scroll;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.add-item-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    font-size: 25px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.add-input{
    padding: 5px 10px;
    border-radius: 10px;
    border:1px solid rgb(22, 18, 18);
    font-size: 24px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.add-icon{
    height: 32px;
    margin-left: 20px;
    cursor: pointer;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
